<h3>Fill In Below to List a New Candidate</h3>

<%= form_for @candidate do |f| %>
  <%= f.label :first_name, "First Name" %>
  <%= f.text_field :first_name %><br><br>

  <%= f.label :last_name, "Last Name" %>
  <%= f.text_field :last_name %><br><br>

  <%= f.label :party_affiliation, "Party Affiliation" %>
  <%= f.text_field :party_affiliation, placeholder: "Enter Party Name Here or Select One From Dropdown", list: "party_affiliation_autocomplete" %><br><br>
  <datalist id="party_affiliation_autocomplete">
    <option value="Democrat">
    <option value="Independent">
    <option value="Republican">
  </datalist>

  <%= f.label :office_position, "Running For" %>
  <%= f.text_field :office_position %><br><br>

  <%= f.label :location, "Current Office and/or State" %>
  <%= f.text_field :location %><br><br>

  <%= f.label :platform_outline, "Platform Outline" %>
  <%= f.text_area :platform_outline %><br><br>

  <%= f.submit 'List Candidate' %>
<% end %>
