<h2><%= @candidate.full_name %></h2> <%= render 'favorited' %>
  <h3><%= @candidate.party_affiliation %></h3>
  <h3><%= @candidate.location %></h3>
    <p>Running for <%= @candidate.office_position %></p>
    <p>Key Issues: <%= @candidate.platform_outline %></p>

    <p><%= link_to 'List a New Contribution', new_candidate_contribution_path(@candidate) %></p><br>
    <p><%= link_to "See All Contributions", candidate_contributions_path(@candidate) %></p>

<%= button_to 'Edit Candidate', edit_candidate_path(@candidate), method: :get %><br>
<%= button_to 'Delete Candidate', candidate_path(@candidate), method: :delete, data: {confirm: "Are you sure you want to delete?"} %>
