<h2><%= @contributor.name %></h2>
  <h3>Industry: <%= @contributor.industry_affiliation %></h3>
  <p><%= link_to "See All Contributions", contributor_contributions_path(@contributor)%></p>
  <p><%= link_to 'List a New Contribution', new_contributor_contribution_path(@contributor) %></p><br>

<%= button_to 'Edit Contributor', edit_contributor_path(@contributor), method: :get %><br>
<%= button_to 'Delete Contributor', contributor_path(@contributor), method: :delete, data: {confirm: "Are you sure you want to delete?"} %>
