<!DOCTYPE html>
<html>
  <head>
    <title>Dollars for Change</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h3><a href="/home">Dollars for Change</a></h3>

    <%= yield %>

  </body>
</html>
